/* main color #4EB073 */
/* second color #59BE7C */

.section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

.container {
    /* max-width: 1500px; */

    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
  }


.hero-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    /* justify-content: center; */
    justify-content: space-between;
    padding-bottom: 119px;
}


body {
    font-family: 'Montserrat', sans-serif;
    color: rgba(33, 33, 33, 1);

    background-color: rgb(255, 255, 255);
    align-content: center;

    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-header {
    border-bottom: 1px solid #ececec;
}

html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.phone-div {
  display: flex;
  justify-content: right;
  align-items:center;

  margin-left: auto;
  padding: 5px 20px;
}

.phone-button {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;

    transition-duration: 0.3s;

    margin: 0px 25px;
    padding-top: 20px;
    padding-bottom: 20px;

    

    width: auto;


}
.phone-button:hover,
.phone-button:focus {
    color:#4EB073;
    background-size: 0 0.1em, 100% 0.1em;
}


.hero {
    width: 50%;
    display: flex;
    padding: 0px 158px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;

}



.hero-txt {
    font-family: 'MontserratBold', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    display: flex;
    margin-top: 15px;
    color: #000000;
    line-height: 60.95px;

}

h2 {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;

    color: #000000;
    line-height: 48.76px;
}

.hero-part {
    align-content: center;
    text-align: center;

}


.div-service-list {
    margin-top: 59px;
    
}

.service-list {
    list-style: none;

}

.item-service {
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 24px;
    color: #6F6A6A;
    font-style: normal;
    line-height: 1.5em;

}

.docs-apps-header {
    padding-top: 74px;
    padding-bottom: 40px;
}

.download-docs {
    display: flex;
    justify-content: center;
    gap: 50px;
}
@media screen and (max-width: 800px){
    .download-docs {
        display: block;
    }
  }


.button {
    background-color: #4EB073;
    font-family: 'Montserrat',sans-serif;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    border-radius: 30px;
    border-width: 290px;


    padding: 30px 32px;
    transition-duration: 0.3s;
    color: white;
}
@media screen and (max-width: 768px){
    .button {
        margin-bottom: 1em;
    }
  }


.button:hover,
.button:focus {
    background-color: #0e836c;
    cursor: pointer;
}

.contacts {
    padding-top: 88px;
    text-align: center;
    gap: 5px;
    line-height: 2em;
}

.contact-list {
    list-style: none;
}

.contact-p {
    color: #6F6A6A;
    font-size: 22px;
    font-weight: 400;
}

.email-underline {
    text-decoration: underline;
}

.item-contact {
    color: #6F6A6A;
    font-size: 22px;
    font-weight: 400;

}

.contact-button {
    transition-duration: 0.3s;
}

.contact-button:hover,
.contact-button:focus {
    color: #4EB073; 
}


.doctor-container {
    width: 50%;
    position: relative;
}

.doctor-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
   
    position: absolute;


}
/* @media screen and (min-width: 768px) and (max-width: 1199px) {
    .doctor-container img {
        display: none; 
    }
  } */


.maps {
    background: linear-gradient(253.69deg, #59BE7C 0.74%, #D2EFF8 98.49%);
    display: flex;
    min-height: 100vh;
}


.maps-container {
    display: flex;
    justify-content: center;
    gap: 10em;
    align-items: center;

}
    
.maps-img {
    box-shadow: 0 0 10px;
    border-radius: 10px;
    /* margin-right: auto;
    margin-top: 20%; */
    width: 85%;
    aspect-ratio: 16 / 9;
}

.maps-txt {
        
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 40%;
}

.maps-p {
    color: #FFFFFF;

    border-radius: 10px;
    padding: 30px 20px;
    transition-duration: 1s;
    text-align: center;
    font-size: 25px;
    font-variant: small-caps;

}

/* 
@media screen and (max-width: 768px){


    .container {
      width: 768px;
      background-size: auto;

    }

    .hero {
        margin-left: 10%;
    }

    .doctor-container {
        display: none;
    }
  } */

 /* ADAPTIVE */


/* flex-direction, coloumn */
@media screen and (max-width: 1140px) {
    .container {
      /* max-width: 1200px; */
    }

    .hero-container {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 119px;

    }

    .phone-div {
        justify-content: center;
    }

    .doctor-container {
        width: 50%;
        height: 50%;
    }

    .doctor-container img {
        position: unset;
    }
 }
 @media screen and (max-width: 1048px) {
    .hero-container {
    }

 }
  

@media screen and (max-width: 768px) {
    
    .phone-div {
        justify-content: center;
    }

    h1 {

    }

    h2 {
        font-size: 30px;
    }

    .item-service {
        font-size: 18px;

        justify-content: unset;
    }

    .docs-apps-header {
        padding-bottom: 35px;
        
    }

    .contact-p {
        font-size: 20px;
    }

    .item-contact {
        font-size: 20px;
    }

    .hero-container {
        padding-bottom: 5em;
        padding-top: 24.7px;
          display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .maps-txt {
        display: none;
        position: absolute;
    

    }

    .maps-img {

    }
}